@page "/FileCreate"

<h3>FileCreate</h3>

<InputFile OnChange="@LoadFiles" multiple/>

@if(errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach(var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@if(errors.Count >= 1)
{
    <p class="cl_FileFailed">File not uploaded</p>
    return;
}

<ul>
    @foreach (var file in files)
    {
        <li>"@file.Name" successfully uploaded!</li>
    }
</ul>

@if(errors.Count == 0 && isUploaded == true)
{
    
    <p class="cl_FileSuccess">Files successfully uploaded</p>
}

@code {
    private long maxFileSize = 1024 * 1024 * 5; // 5MB
    private int maxAllowedFiles = 3;
    private List<string> errors = new();
    private bool isUploaded = false;
    private int fileSuccessfullyUploaded = 0;
    private List<IBrowserFile> files = new();

    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        errors.Clear();

        // If files uploaded are more than allowed.
        if (e.FileCount > maxAllowedFiles)
        {
            errors.Add($"Error: Attempting to upload {e.FileCount} files, " +
            "but only {maxAllowedFiles} files are allowed");
            return;
        }

        // Go through uploaded files. 
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name));

                string path = Path.Combine("D:\\Temp\\Storage", "", newFileName);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

                // Increment file count on uploads.
                fileSuccessfullyUploaded++;

                // Add file to list of files.
                files.Add(file);
            }
            catch (Exception ex)
            {
                errors.Add($"File: {file.Name} Error: {ex.Message}");
            }
        }
        if (fileSuccessfullyUploaded == e.FileCount)
        {
            string message = "Number of files succesfully uploaded" + e.FileCount;
            isUploaded = true;
        }
    }
}
