@page "/"

@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider _authenticationStateProvider;

@* @attribute [Authorize(Policy = "AuthenticatedUser")] *@

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div>You are logged in...</div>
    </Authorized>
    <NotAuthorized>
        <div>You are NOT logged in...</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Use in unit test...
    public bool _isAuthenticated;

    protected override async void OnInitialized()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;

        _isAuthenticated = user.Identity.IsAuthenticated;
    }


}